.profileWrapper:hover .profileDropDownWrapper {
   display: block; 
}

.profileDropDownWrapper {

display:none;
position: absolute;
background-color: rgb(201, 196, 192);
z-index:10;

}
.profileDropDownWrapper p{

    display: inline-block;
    cursor: pointer;
       color: black;


}